<div class="mt-20 flex w-full items-center justify-center text-white">
  <div class="m-4 flex flex-col items-center gap-4 md:w-1/2">
    <img src="assets/img/404.svg" alt="404 image" />
    <h2 class="text-center text-3xl font-bold text-blue-400">
      The page you are looking for does not exist.
    </h2>
    <p class="text-center text-2xl">
      Please check the URL or tap the button below to go back to the homepage.
    </p>
    <a
      type="button"
      class="btn w-fit border-0 bg-blue-400"
      routerLink="/home"
      aria-label="Go Home">
      Home
    </a>
  </div>
</div>
