@if (loading()) {
  <div class="flex h-screen w-full flex-col gap-4 p-6 md:mx-auto md:max-w-xl">
    <div class="skeleton h-10 w-1/2 rounded-lg"></div>
    <div class="skeleton h-80 w-full rounded-lg"></div>
    @for (item of [].constructor(3); track item) {
      <div class="skeleton h-8 w-1/2 rounded-lg"></div>
    }
    <div
      class="skeleton h-36 w-full rounded-lg shadow-md shadow-white/20"></div>
  </div>
} @else {
  @if (trip(); as trip) {
    <div class="flex flex-col gap-4 p-6 text-white md:mx-auto md:max-w-xl">
      <div class="flex items-center justify-between">
        <h1 class="text-2xl font-bold text-white">
          {{ trip.title }}
        </h1>
        <div class="flex gap-4">
          <a
            type="button"
            class="flex items-center transition-all ease-in-out hover:scale-110"
            [routerLink]="['/edit', this.tripToUpdate()?.docId]"
            aria-label="Edit trip">
            <mat-icon>edit</mat-icon>
          </a>
          <button
            (click)="confirmTripDelete()"
            class="flex items-center transition-all ease-in-out hover:scale-110"
            aria-label="Delete trip">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="flex items-end">
        <p class="h-fit w-fit text-xl">
          {{ trip.totalCost | currency: baseCurrency() : 'symbol-narrow' }}
        </p>
      </div>
      <app-calendar></app-calendar>
      <div class="flex w-full md:justify-between">
        <div class="flex w-full flex-col items-start gap-1 text-nowrap">
          <p class="flex items-center gap-2">
            <app-steps
              [starDate]="trip.startDate"
              [endDate]="trip.endDate"
              [duration]="trip.duration"></app-steps>
          </p>
        </div>
      </div>
      <div>
        <h2 class="mb-2 text-xl font-bold text-white">Itineraries:</h2>
        @if (trip.itinerary && trip.itinerary.length > 0) {
          @for (activity of trip.itinerary; track activity) {
            <app-itinerary-card
              class="cursor-pointer"
              [inputActivity]="activity"
              (itineraryClicked)="handleActivityClick(activity.id ?? '')"
              (editClicked)="setActivityToEdit(activity)"
              (deleteClicked)="handleDeleteActivityClick(activity)" />
            @if (activityToEdit()?.id && activityToEdit()?.id === activity.id) {
              <app-itinerary-form
                [activity]="activityToEdit()"
                (cancelClicked)="clearActivityToEdit()"
                (outputActivity)="updateActivity($event)" />
            }
          }
        } @else {
          <p class="mb-2">
            It seems like you have nothing to do. Create an activity below.
          </p>
          <app-itinerary-form
            (cancelClicked)="clearActivityToEdit()"
            (outputActivity)="addActivity($event)" />
        }
      </div>
    </div>
    <div class="flex w-full justify-end gap-2 p-4 pt-0 md:mx-auto md:max-w-xl">
      <a
        type="button"
        class="btn border-0 bg-green-1000"
        routerLink="/home"
        aria-label="Go Home">
        Home
      </a>
    </div>
    <dialog #confirmDeleteActivityModal class="modal">
      <div class="modal-box">
        <h3 class="text-2xl font-bold">Hold on!</h3>
        <p class="py-4">
          Are you sure you would like to delete
          {{ activityToDelete()?.title ?? 'this activity' }} from
          {{ tripToUpdate()?.title ?? 'this trip' }}?
        </p>
        <div class="modal-action">
          <div class="flex gap-2">
            <button
              class="btn border-0 bg-gray-700 text-white"
              (click)="closeModal()"
              aria-label="Cancel delete">
              Cancel
            </button>
            <button
              class="btn border-0 bg-red-700 text-white"
              (click)="deleteActivity()"
              aria-label="Delete activity">
              Delete
            </button>
          </div>
        </div>
      </div>
    </dialog>
    <dialog #confirmDeleteTripModal class="modal">
      <div class="modal-box">
        <h3 class="text-2xl font-bold">Hold on!</h3>
        <div class="py-4">
          <p class="text-lg">
            Are you sure you would like to delete
            {{ tripToUpdate()?.title ?? 'this trip' }}?
          </p>
          <p class="pt-2">
            You will be deleting the associated itinerary as well.
          </p>
        </div>
        <div class="modal-action">
          <div class="flex gap-2">
            <button
              class="btn border-0 bg-gray-700 text-white"
              (click)="closeModal()"
              aria-label="Cancel delete">
              Cancel
            </button>
            <button
              class="btn border-0 bg-red-700 text-white"
              (click)="deleteTrip()"
              aria-label="Delete trip">
              Delete
            </button>
          </div>
        </div>
      </div>
    </dialog>
  } @else {
    <div class="flex flex-col justify-center p-4">
      <p class="text-wrap text-center">
        Oops! Something went wrong. Please return home.
      </p>
      <a
        type="button"
        routerLink="/home"
        class="btn btn-link"
        aria-label="Go Home">
        Return Home
      </a>
    </div>
  }
}
