@if ((loading$ | async) ?? false) {
  <div class="flex h-full w-full items-center justify-center pb-14">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="p-4">
    @if (selectedTrip()?.docId && selectedTrip()?.docId !== '') {
      <h1 class="text-xl font-extrabold">
        Edit Trip: {{ selectedTrip()?.title }}
      </h1>
    } @else {
      <h1 class="text-xl font-extrabold">Create a new trip!</h1>
    }
    <form
      class="flex flex-col gap-2"
      [formGroup]="tripForm"
      (ngSubmit)="onSubmit()">
      <mat-form-field hideRequiredMarker="true" class="md:w-96">
        <mat-label>Title:</mat-label>
        <input
          type="text"
          [value]="selectedTrip()?.title"
          matInput
          placeholder="E.g. Trip to Paris..."
          formControlName="title" />
        <mat-error>Please enter a title</mat-error>
      </mat-form-field>

      <h2 class="mb-2 text-lg font-semibold">Itinerary:</h2>
      @for (activity of itinerary; track activity) {
        <app-itinerary-card
          [inputActivity]="activity"
          (editClicked)="setActivityToEdit(activity)"
          (deleteClicked)="openConfirmModal(activity)" />
        @if (activityToEdit()?.id && activityToEdit()?.id === activity.id) {
          <div class="flex flex-wrap gap-4">
            <app-itinerary-form
              class="w-full"
              [activity]="activityToEdit() ?? undefined"
              (cancelClicked)="cancelEdit()"
              (outputActivity)="updateActivity($event)" />
          </div>
        }
      }
      <div class="flex flex-wrap gap-4">
        <app-itinerary-form
          class="w-full"
          (outputActivity)="addActivity($event)" />
      </div>

      <div class="flex gap-2 self-end">
        <a
          type="button"
          class="btn mt-4 w-fit bg-error text-base"
          type="button"
          routerLink="/home">
          <mat-icon>cancel</mat-icon>
          Cancel
        </a>
        <button
          class="btn mt-4 w-fit bg-success text-base"
          type="submit"
          [disabled]="!tripForm.valid">
          <mat-icon>save</mat-icon>
          Save trip
        </button>
      </div>
    </form>
    <dialog #confirmModal class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Hold on!</h3>
        <p class="py-4">Are you sure you would like to delete this activity?</p>
        <div class="modal-action">
          <div class="flex gap-2">
            <button class="btn btn-warning" (click)="closeConfirmModal()">
              Cancel
            </button>
            <button class="btn btn-error" (click)="confirmDelete()">
              Delete
            </button>
          </div>
        </div>
      </div>
    </dialog>
  </div>
}
