<div
  class="card card-compact mb-4 w-full bg-neutral-800 text-white shadow-md shadow-white/10">
  <div class="card-body">
    <h2 class="card-title text-white">
      {{
        activityForm.value.id !== '' ? 'Edit Activity!' : 'Create an Activity!'
      }}
    </h2>
    <button
      type="button"
      class="absolute right-4 top-4 flex items-center gap-1 text-blue-400"
      (click)="openTagModal()"
      aria-label="Open tag modal">
      @if (activityForm.value.tag && activityForm.value.tag !== '') {
        {{ activityForm.value.tag }}
        <mat-icon fontIcon="edit"></mat-icon>
      } @else {
        Add tag
        <mat-icon>add_circle</mat-icon>
      }
    </button>
    <div [formGroup]="activityForm">
      <dialog #tagModal class="modal">
        <div class="modal-box">
          <form method="dialog">
            <button
              type="button"
              (click)="cancelTag()"
              class="btn btn-circle btn-ghost btn-sm absolute right-4 top-4"
              aria-label="Cancel tag modal">
              ✕
            </button>
          </form>
          <h3 class="text-lg font-bold">Create a Tag!</h3>
          <mat-form-field hideRequiredMarker="true" class="mt-2 w-full">
            <mat-label>Tag:</mat-label>
            <input
              type="text"
              matInput
              placeholder="Type Here..."
              formControlName="tag" />
            <mat-error>Please enter a tag</mat-error>
          </mat-form-field>
          <p class="py-4">Tap on ✕ to cancel.</p>
          <form method="dialog" class="flex justify-end">
            <button
              type="button"
              class="btn btn-sm border-0 bg-green-1000"
              (click)="closeTagModal()"
              aria-label="Close tag modal">
              Done
            </button>
          </form>
        </div>
      </dialog>
      <mat-form-field hideRequiredMarker="true" class="w-full">
        <mat-label>Title:</mat-label>
        <input
          type="text"
          matInput
          placeholder="Type Here..."
          [value]="activityForm.value.title"
          formControlName="title" />
        <mat-error>Please enter a valid title</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker="true" class="w-full">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input
          [dateFilter]="filter"
          [rangePicker]="picker"
          [formGroup]="activityForm">
          <input
            matStartDate
            formControlName="startDate"
            placeholder="Start date" />
          <input matEndDate formControlName="endDate" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error>Please enter a valid date range</mat-error>
      </mat-form-field>

      <div class="mb-4 flex flex-col">
        <button
          type="button"
          class="mb-2 w-fit self-center rounded-t-lg border-b border-white bg-slate-1000 p-4 text-white hover:bg-transparent"
          (click)="openMapModal()"
          aria-label="Open map modal">
          Choose location on map
        </button>
      </div>

      <div class="flex w-full items-center gap-2">
        <mat-form-field hideRequiredMarker="true" class="w-1/2">
          <mat-label>Cost:</mat-label>
          <input
            type="number"
            matInput
            [value]="activityForm.value.cost"
            formControlName="cost" />
          <mat-error class="text-nowrap">Please enter a valid amount</mat-error>
        </mat-form-field>
        <mat-form-field hideRequiredMarker="true" class="w-1/2">
          <mat-label>Currency</mat-label>
          <mat-select
            name="currency"
            [value]="activityForm.value.currency"
            formControlName="currency">
            @for (currency of currencies; track currency) {
              <mat-option [value]="currency.value">
                {{ currency.value }}
              </mat-option>
            }
          </mat-select>
          <mat-error>Please select a currency</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field hideRequiredMarker="true" class="w-full">
        <mat-label>Leave a comment</mat-label>
        <textarea
          matInput
          [value]="activityForm.value.notes"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          placeholder="E.g. Remember to pack toothbrush..."
          formControlName="notes"></textarea>
      </mat-form-field>

      <div class="flex w-full justify-end gap-2">
        @if (activityForm.value.id !== '') {
          <button
            type="button"
            class="btn border-0 bg-gray-700 text-white"
            (click)="cancelEdit()"
            aria-label="Cancel form">
            Cancel
          </button>
        } @else {
          <button
            type="button"
            class="btn border-0 bg-red-700 text-white"
            (click)="clearForm()"
            aria-label="Clear form">
            Clear
          </button>
        }

        <button
          type="button"
          class="btn w-fit self-end border-none bg-blue-700 text-white"
          (click)="addActivity()"
          [disabled]="!activityForm.valid"
          aria-label="Update or add activity">
          {{
            activityForm.value.id !== '' ? 'Update activity' : 'Add activity'
          }}
        </button>
      </div>
    </div>
  </div>
  <div class="card-actions justify-end"></div>
  <dialog #mapModal class="modal">
    <div class="modal-box">
      <form method="dialog" class="flex justify-end">
        <button
          type="button"
          class="btn btn-circle btn-ghost btn-sm"
          (click)="closeMapModal()"
          aria-label="Close map modal">
          <mat-icon>close</mat-icon>
        </button>
      </form>
      <h3 class="text-lg font-bold">Choose a start and end location.</h3>
      <app-map
        (locationsChanged)="locationsChanged($event)"
        [inputLocations]="locations()"></app-map>
      <p class="py-4">Tap on the ✕ to close.</p>
      <form method="dialog" class="flex justify-end">
        <button
          type="button"
          class="btn btn-sm border-0 bg-green-1000"
          (click)="closeMapModal()"
          aria-label="Close map modal">
          Done
        </button>
      </form>
    </div>
  </dialog>
</div>
