<div class="m-4 mt-8 flex justify-center">
  <mat-card class="w-full md:max-w-xl">
    <mat-card-content>
      <div class="flex flex-col gap-6 p-4 text-white md:p-12">
        <h2 class="self-start text-xl font-bold text-white">
          Sign Up to BonVoyage
        </h2>
        <button
          class="btn w-full rounded-full"
          (click)="signInWithGoogle()"
          aria-label="Sign up with Google">
          <img
            ngSrc="/assets/img/google.svg"
            alt="No trips found"
            width="24"
            height="24"
            priority />
          Sign up with Google
        </button>
        <div class="divider">or sign up with email</div>
        <form
          [formGroup]="signUpForm"
          (ngSubmit)="onSubmit()"
          class="flex w-full flex-col gap-4">
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="johnDoe@example.com"
              formControlName="email"
              required />
            <mat-error>Please enter a valid Email address.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter a password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              required />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              type="button">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>Invalid password.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="confirmPassword"
              required />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              type="button">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>Passwords do not match.</mat-error>
          </mat-form-field>
          <button
            type="submit"
            [disabled]="!signUpForm.valid"
            class="btn rounded-full"
            aria-label="Register user">
            Register Now
          </button>
        </form>
        <p class="text-center text-gray-400">
          Already have an account?
          <a
            type="button"
            class="text-blue-400 underline hover:scale-105"
            routerLink="/log-in"
            aria-label="Log in">
            Log In
          </a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
