// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bon-voyage-primary: mat.define-palette(mat.$indigo-palette);
$bon-voyage-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bon-voyage-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bon-voyage-theme: mat.define-light-theme(
  (
    color: (
      primary: $bon-voyage-primary,
      accent: $bon-voyage-accent,
      warn: $bon-voyage-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bon-voyage-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mdc-button__label {
  text-decoration: underline;
}

:root {
  --mdc-snackbar-container-color: #ff4343;
  --mdc-snackbar-supporting-text-color: #000000 !important;
  --mat-snack-bar-button-color: #000000 !important;

  --mdc-filled-text-field-container-color: white;
  --mdc-icon-button-icon-color: black;
  --mdc-filled-text-field-label-text-color: black;
  --mdc-filled-text-field-container-shape: 8px;
}

.mat-mdc-form-field-error-wrapper {
  padding: 0 0 !important;
}
