<div
  class="mb-4 grid grid-rows-3 gap-2 rounded-xl bg-neutral-800 p-4 text-white shadow-md shadow-white/20"
  (click)="handleItineraryClick($event)">
  <div class="flex justify-between">
    @if (newStartDate && newEndDate) {
      <div>{{ newStartDate | date }} - {{ newEndDate | date }}</div>
    }

    <div class="flex gap-2">
      <button
        type="button"
        class="btn z-10 border-0 bg-blue-700 text-white"
        (click)="handleEditClick($event)">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        type="button"
        class="btn z-10 border-0 bg-red-700 text-white"
        (click)="handleDeleteClick($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  @if (inputActivity()?.title) {
    <div class="flex justify-center text-2xl">{{ inputActivity()?.title }}</div>
  }

  <div class="flex justify-end">
    <div>
      {{
        inputActivity()?.cost
          | currency: inputActivity()?.currency : 'symbol-narrow'
      }}
    </div>
  </div>
</div>
