<div
  class="mb-6 grid grid-rows-3 gap-2 rounded-xl bg-neutral-800 p-4 text-white shadow-md shadow-white/20">
  <div class="flex justify-between">
    @if (startDate() && endDate()) {
      <div>{{ startDate() | date }} - {{ endDate() | date }}</div>
    }
    @if (duration()) {
      <div>{{ duration() }} {{ duration() === 1 ? 'day' : 'days' }}</div>
    }
  </div>
  @if (tripTitle()) {
    <div class="flex justify-center text-2xl font-extrabold text-blue-400">
      {{ tripTitle() }}
    </div>
  }

  <div class="flex justify-end">
    <div>{{ totalCost() | currency: currency() : 'symbol-narrow' }}</div>
  </div>
</div>
